body {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    font-family: 'fff_forwardregular', Arial, sans-serif;
    color: grey;
}

h1 {
    font-size: 80px;
    animation: slide-left;
}

h1:hover {
  animation: blinker 1s linear infinite;
}

footer {
    font-size: 10px;
}

.row {
    margin: 50px;
}

.row img {
    margin: 5px;
    filter: brightness(50%);
}

.row img:hover {
    filter: brightness(100%);
}

@font-face {
    font-family: 'fff_forwardregular';
    src: url('fonts/fffforwa-webfont.woff2') format('woff2'),
         url('fonts/fffforwa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }
}